# Ignore virtual environment
venv/
.venv/

# Ignore all .mp4 files
*.mp4

# Ignore all .npy files
*.npy

# Ignore all .mp3 files
*.mp3

# Ignore all .jpg files
*.jpg

# Ignore all .pt files
*.pt

# Ignore all .pth files
*.pth

# Ignore all .pkl files
*.pkl

# Ignore all .csv files
*.csv

# Ignore all .txt files
*.txt